.content {
  padding: 2rem;
}
.title {
  line-height: 1.1em;
  margin-bottom: 2rem;
}
.background {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: transparent;
}
.background.active {
  display: block;
}